
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Inter:wght@800&family=Montserrat&family=Oswald&display=swap');


/* hsl(153, 34%, 20%); */
 body {
    background-color: hsl(0, 0%, 28%);
    overflow-x: hidden;
    margin:0;
  }
.c1 {
  border: 20px solid white;
  background-color: white;
  border-radius: 50px;
  width:700px;
  height: 100px;
}
.GOA {
  display: inline;
  font-family: Oswald;
  position: relative;
  left:50px;
  transition: 0.5s;
}

.GOA:hover {
  transform: scale(1.50);
}
.t1 {
  transition: 0.5s;
  font-size: 30px;
}
.t1:hover {
  transform: rotate(1.1deg)
  
}
.i1 {
  position: relative;
  left:500px;
  font-size: 30px;
  bottom: 65px;
  text-decoration: none;
  transition: 0.5s;
}
.i1:hover {
  transform:rotate(1.1deg)
}

.pg {
  font-family: Oswald;
  position: relative;
  font-size: 40px;
  left:530px;
  
}
.pg1 {
  font-family: Oswald;
  position: relative;
  font-size: 30px;
  left:540px;
 
}
.other {
  border: 20px solid hsl(0, 5%, 81%);
  border-radius: 15px;
  width: 100px;
  height: 20px;
  position: relative;
   left:630px;
 
  background-color: hsl(0, 5%, 81%);
}
.pt {
  font-family: Oswald;
  font-size: 20px;
  position: relative;
  bottom:20px;
  left:25px;
}
.gi {
  position: relative;
  bottom: 700px;
  border-radius: 800px;
  width: 200px;
  height: 150px;
  left:100px;
  transition: 0.5s;
  animation-name:goa;
  animation-duration: 4s;
  animation-fill-mode: forwards;

}
.gi:hover {
  transform: rotate(360deg);
}
@keyframes goa {
  from {
    left:100px;
  }
  to {
    left:1200px
  }
}
.imggiga {
  border-radius: 20px;
  width: 200px;
  position: relative;
  left:600px;
  top:500px;
  animation-name:giga;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}
@keyframes giga {
  from {
     top:500px;
  }
  to {
    top:50px;
  }
}
.d1 {
  background-color: hsl(0, 0%, 51%);
  width: 100%;
  height: 200px;
}
.p1 {
  color: white;
  font-family: Oswald;
  position: relative;
  left:200px;
  top:50px;
  font-size: 25px;
}
.contact {
  position: relative;
  left:100px;
  bottom: 55px;
  width: 100px;
  height:130px;
}
.you {
  width: 100px;
  height: 80px;
}
.youp {
  font-family: Oswald;
  position: relative;
  bottom:100px;
  left:230px;
  font-size: 25px;
  color: white;
}