@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Inter:wght@800&family=Lexend+Deca:wght@100..900&family=Montserrat&family=Oswald&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('gif/com.gif');
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
  }
p {
    font-family: Lexend Deca;
    font-size: 30px;
    position: relative;
    left:300px;
    top:300px;
}
.goa{
    border-radius: 300px;
    width: 150px;
    height: 100px;
    position: relative;
  
    transition:2s;
}
.goa:hover {
    transform: rotate(360deg);
}
