@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Inter:wght@800&family=Lexend+Deca:wght@100..900&family=Montserrat&family=Oswald&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('gif/com.gif');
    background-size: cover;
    height: 100vh;
  
  }

.Classroom {
    border: solid black;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    left:350px;
    top:100px;
    background-color: blueviolet;
    font-size: 20px;
    font-family: Lexend Deca;

}

.p1 {
  position: relative;
  left:80px
}

.Squads {
    border: solid black;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    left:880px;
    bottom:196px;
    background-color: blueviolet;
    font-size: 20px;
    font-family: Lexend Deca;
    
}
.p2 {
    position: relative;
    left:80px
  }
.ClassChoice {
  font-family: Lexend Deca;
  font-size: 20px;
  position: relative;
  left:380px;
  bottom:200px;
  color: White;
  transition: 2s;
}

.SquadChoice {
    font-family: Lexend Deca;
    font-size: 20px;
    position: relative;
    left:920px;
    bottom:220px;
    color: White;
    transition: 2s;
}
.SquadChoice:hover {
    color: rgb(87, 28, 143);

}
.ClassChoice:hover {
    color: rgb(87, 28, 143);
}