@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Inter:wght@800&family=Montserrat&family=Oswald&display=swap');



body {
    background-color: hsl(0, 0%, 28%);
    overflow-x: hidden;
    margin:0;
  }
.pro {
    border: 20px solid hsl(0, 5%, 88%);
    background-color: hsl(0, 5%, 88%);
    width: 200px;
    height: 150px;
    border-radius: 20px;
    position: relative;
    left:400px;
    top:200px;
    text-decoration: none;
}
.p1 {
   font-family: Oswald;
   font-size: 20px;
   position: relative;
   left:55px
}
.pro1 {
    border: 20px solid hsl(0, 5%, 88%);
    background-color: hsl(0, 5%, 88%);
    width: 200px;
    height: 150px;
    border-radius: 20px;
    position: relative;
    left:800px;
    top:15px;
}
.p2 {
    font-family: Oswald;
    font-size: 20px;
    position: relative;
    left:45px
 }